Repository wesselhuising/pandantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, check-json, pylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: run black formatter
        entry: black
        language: system
        types: [python]
        require_serial: true
        args: [--check, --diff , --config, pyproject.toml, src, tests]
      - id: check-added-large-files
        name: check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: check toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: check yaml
        entry: check-yaml
        language: system
        types: [yaml]
        args: ['--unsafe']
      - id: check-json
        name: check json
        entry: check-json
        language: system
        types: [json]
      - id: check-merge-conflict
        name: checks for files that contain merge conflict strings
        entry: check-merge-conflict
        language: system
      - id: end-of-file-fixer
        name: fix end of files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: trailing-whitespace
        name: trim trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: mypy
        name: run mypy
        entry: bash -c 'mypy --show-error-codes src/'
        language: system
      - id: isort
        name: sort imports
        entry: isort
        require_serial: true
        language: system
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args:
          [
            "-rn", # Only display messages
            "-sn", # Don't display the score
            "src", # Only source code, skip tests folder
          ]
      - id: safety
        name: check for vulnerable dependencies with Safety
        entry: safety
        language: system
        args: [./pyproject.toml]

Update README.md
  README.md
Due: none

sort imports
  README.md
Due: none

update read the docs
  docs/source/generated/pandantic.Pandantic.rst
  docs/source/generated/pandantic.Pandantic.validate.rst
  docs/source/usage.rst
  pyproject.toml
Due: check-toml

removed api rst
  docs/source/api.rst
Due: none

improve syntax for python fields in rtd
  docs/source/usage.rst
Due: none

removed redundant pydantic v2 note
  docs/source/index.rst
Due: none

refresh auto generated docs
  docs/source/api.rst
  docs/source/generated/pandantic.BaseModel.parse_df.rst
  docs/source/generated/pandantic.BaseModel.rst
  docs/source/generated/pandantic.basemodel.PandanticBaseModel.rst
  docs/source/index.rst
Due: none

useless
  docs/source/api.rst
Due: none

last improvement to index docs
  docs/source/index.rst
Due: none

Update README.md to match new API (#36)
  README.md
  docs/source/api.rst
  docs/source/conf.py
  docs/source/generated/pandantic.BaseModel.parse_df.rst
  docs/source/generated/pandantic.BaseModel.rst
  docs/source/generated/pandantic.Pandantic.rst
  docs/source/generated/pandantic.Pandantic.validate.rst
  docs/source/generated/pandantic.basemodel.PandanticBaseModel.rst
  docs/source/index.rst
  docs/source/pandas_plugin.rst
  docs/source/usage.rst
  pyproject.toml
Due: black, check-toml, pylint

Some edits
  docs/source/index.rst
Due: none

Some edits (#37)
  docs/source/index.rst
Due: none

medium article demo notebook
  notebooks/medium_article_demo.ipynb
  poetry.lock
  pyproject.toml
Due: check-toml

Update medium_article_demo.ipynb
  notebooks/medium_article_demo.ipynb
Due: none

improving schema for demo
  notebooks/medium_article_demo.ipynb
Due: none

Add demo notebook (#38)
  notebooks/medium_article_demo.ipynb
  poetry.lock
  pyproject.toml
Due: check-toml

add example for titanic code
  examples/titanic.py
Due: black, pylint

improve the optional type from pandantic
  src/pandantic/types_pandantic.py
Due: black, pylint

adjust test to check for optional str
  tests/test_optional_attr.py
Due: black, pylint

add titanic csv
  examples/titanic.csv
Due: none

exception for titanic csv for exmaple
  .gitignore
Due: none

Add Titanic example and improve optional type to be usable with str type (#39)
  .gitignore
  examples/titanic.csv
  examples/titanic.py
  src/pandantic/types_pandantic.py
  tests/test_optional_attr.py
Due: black, pylint

fix static typing for schema argument
  src/pandantic/types.py
Due: black, pylint

fix static typing for schema argument (#41)
  src/pandantic/types.py
Due: black, pylint
