Repository wesselhuising/pandantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, check-json, pylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: run black formatter
        entry: black
        language: system
        types: [python]
        require_serial: true
        args: [--check, --diff , --config, pyproject.toml, src, tests]
      - id: check-added-large-files
        name: check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: check toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: check yaml
        entry: check-yaml
        language: system
        types: [yaml]
        args: ['--unsafe']
      - id: check-json
        name: check json
        entry: check-json
        language: system
        types: [json]
      - id: check-merge-conflict
        name: checks for files that contain merge conflict strings
        entry: check-merge-conflict
        language: system
      - id: end-of-file-fixer
        name: fix end of files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: trailing-whitespace
        name: trim trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: mypy
        name: run mypy
        entry: bash -c 'mypy --show-error-codes src/'
        language: system
      - id: isort
        name: sort imports
        entry: isort
        require_serial: true
        language: system
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args:
          [
            "-rn", # Only display messages
            "-sn", # Don't display the score
            "src", # Only source code, skip tests folder
          ]
      - id: safety
        name: check for vulnerable dependencies with Safety
        entry: safety
        language: system
        args: [./pyproject.toml]

Fixing tests
  src/pandantic/validators/pandas.py
  tests/test_custom_validator_context_str_list.py
  tests/test_custom_validator_even_int.py
Due: black, pylint

Refactor: Dependency injection pattern (#23)
  docs/source/api.rst
  poetry.lock
  src/pandantic/__init__.py
  src/pandantic/basemodel.py
  src/pandantic/plugins/pandas.py
  src/pandantic/types.py
  src/pandantic/validators/__init__.py
  src/pandantic/validators/base.py
  src/pandantic/validators/pandas.py
  tests/benchmarks/__init__.py
  tests/benchmarks/models/__init__.py
  tests/benchmarks/models/dataframeschema.py
  tests/benchmarks/pandera_benchmark.py
  tests/benchmarks/small_dataset.py
  tests/test_basemodel.py
  tests/test_custom_validator_context_str_list.py
  tests/test_custom_validator_even_int.py
  tests/test_optional_attr.py
  tests/test_pandas_plugin.py
Due: black, pylint

improve logging by selecting one of the errors options
  src/pandantic/validators/pandas.py
Due: black, pylint

apply black formatting
  src/pandantic/validators/pandas.py
Due: black, pylint

set queue typing to any as the queue is already validated in the validate function
  src/pandantic/validators/pandas.py
Due: black, pylint

adjust tests where possible
  tests/test_basemodel.py
  tests/test_custom_validator_context_str_list.py
  tests/test_custom_validator_even_int.py
  tests/test_optional_attr.py
Due: black, pylint

Module specific logging
  src/pandantic/plugins/pandas.py
Due: black, pylint

update pyprojecttoml
  pyproject.toml
Due: check-toml

add mail of xavier
  pyproject.toml
Due: check-toml

:white_check_mark: getting tests passing
  src/pandantic/plugins/pandas.py
  src/pandantic/validators/pandas.py
Due: black, pylint

:white_check_mark: fixing pandas plugin
  src/pandantic/plugins/pandas.py
Due: black, pylint

:pencil2: fixing messy merge conflict
  src/pandantic/basemodel.py
  src/pandantic/plugins/pandas.py
Due: black, pylint

:pencil2: switching to collections vs typing (best practice)
  src/pandantic/validators/base.py
Due: black, pylint

:pencil2: fixing messy merge
  src/pandantic/validators/pandas.py
Due: black, pylint

:pencil2: switching plugin name
  README.md
  src/pandantic/plugins/pandas.py
Due: black, pylint

:pencil2: switching name of plugin to pandantic
  tests/test_pandas_plugin.py
Due: black, pylint

:white_check_mark: updating tests for new `errors` arg pattern
  tests/test_pandas_validator.py
Due: black, pylint

:memo: docstring improvements
  src/pandantic/validators/pandas.py
Due: black, pylint

Improving logging while validation dataframes (#30)
  src/pandantic/plugins/pandas.py
  src/pandantic/validators/pandas.py
  tests/test_basemodel.py
  tests/test_custom_validator_context_str_list.py
  tests/test_custom_validator_even_int.py
  tests/test_optional_attr.py
Due: black, pylint

:pencil2: isort
  tests/test_implementations.py
Due: black, pylint

:pencil2: pre-commit
  src/pandantic/validators/pandas.py
Due: black, pylint

capatalize
  pyproject.toml
Due: check-toml

update description
  pyproject.toml
Due: check-toml

27 add dataframe iteration to the pandas plugin (#32)
  README.md
  src/pandantic/basemodel.py
  src/pandantic/plugins/pandas.py
  src/pandantic/validators/base.py
  src/pandantic/validators/pandas.py
  tests/test_implementations.py
  tests/test_pandas_plugin.py
  tests/test_pandas_validator.py
Due: black, pylint

Update pyproject.toml (#31)
  pyproject.toml
Due: check-toml

add strict mode
  src/pandantic/validators/pandas.py
Due: black, pylint

add test for strict mode
  tests/test_pandas_validator.py
Due: black, pylint

black and mypy fixes
  src/pandantic/validators/pandas.py
  tests/test_pandas_validator.py
Due: black, pylint

📝 adding to docstring
  src/pandantic/validators/pandas.py
Due: black, pylint

✏️ refining logic for strict mode
  src/pandantic/validators/pandas.py
Due: black, pylint

📝 adding note for future dev
  src/pandantic/validators/pandas.py
Due: black, pylint

✏️ failing on first error, not after all errors
  src/pandantic/validators/pandas.py
Due: black, pylint

Implement strict parameter for strict mode (#33)
  src/pandantic/validators/pandas.py
  tests/test_pandas_validator.py
Due: black, pylint

Some docs updates
  docs/source/conf.py
  docs/source/index.rst
  docs/source/pandas_plugin.rst
  docs/source/usage.rst
Due: black, pylint

update readme
  README.md
Due: none

add docs for optional
  README.md
Due: none

improve intro
  README.md
Due: none

improve wording
  README.md
Due: none

run pre-commit on all files
  docs/source/index.rst
  docs/source/pandas_plugin.rst
  docs/source/usage.rst
Due: none

Update README.md
  README.md
Due: none
