Repository wesselhuising/pandantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, check-json, pylint

black:
  name: run black formatter
  entry: black
  language: system
  require_serial: true
  args:
  - --check
  - --diff
  - --config
  - pyproject.toml
  - src
  - tests

check-toml:
  name: check toml
  entry: check-toml
  language: system

check-yaml:
  name: check yaml
  entry: check-yaml
  language: system
  args:
  - --unsafe

check-json:
  name: check json
  entry: check-json
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - src

disable safety in pre-commit because of error
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: check-toml, check-yaml

Add parallel processing functionality to parse_df method (#7)
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/pandantic/basemodel.py
  tests/benchmarks/__init__.py
  tests/benchmarks/models/__init__.py
  tests/benchmarks/models/dataframeschema.py
  tests/benchmarks/pandera_benchmark.py
Due: black, check-toml, check-yaml, pylint

change username option into token option
  .github/workflows/publish.yml
Due: check-yaml

Fix publishing using poetry (#8)
  .github/workflows/publish.yml
Due: check-yaml

quick fix
  .github/workflows/publish.yml
Due: check-yaml

update lock files and pyproject.toml
  poetry.lock
  pyproject.toml
Due: check-toml

update readme
  README.md
Due: none

update naming of publish ci job
  .github/workflows/publish.yml
Due: check-yaml

update pydantic as v2 stable is released
  poetry.lock
  pyproject.toml
Due: check-toml

update pydantic as v2 stable is released (#10)
  poetry.lock
  pyproject.toml
Due: check-toml

remember original index when n_jobs equals 1
  src/pandantic/basemodel.py
Due: black, pylint

remember original index when n_jobs equals 1 (#13)
  src/pandantic/basemodel.py
Due: black, pylint

drop _index column when returning filtered dataframe
  src/pandantic/basemodel.py
Due: black, pylint

also drop index row when errors are found
  src/pandantic/basemodel.py
Due: black, pylint

various new benchmark, wip
  .DS_Store
  Makefile
  docs/.DS_Store
  pyproject.toml
  tests/benchmarks/dunnhumpy_benchmark.py
  tests/benchmarks/models/dataframeschema.py
  tests/benchmarks/models/dunnhumby.py
  tests/benchmarks/pandera_benchmark.py
  tests/benchmarks/test_iterrows.py
  tests/test_custom_validator_even_int.py
Due: black, check-toml, pylint

use the right pyproject.toml to get rid of problems between black and isort
  Makefile
  pyproject.toml
  src/pandantic/basemodel.py
  tests/benchmarks/models/dataframeschema.py
  tests/benchmarks/pandera_benchmark.py
  tests/test_custom_validator_even_int.py
Due: black, check-toml, pylint

create tests for optional types, adjust code accordanly and create new optional type with helper function to parse nan's
  .pre-commit-config.yaml
  src/pandantic/__init__.py
  src/pandantic/basemodel.py
  src/pandantic/types_pandantic.py
  tests/test_basemodel.py
  tests/test_optional_attr.py
Due: black, check-yaml, pylint

create tests for optional types, adjust code accordanly and create new optional type with helper function to parse nan's
  README.md
  tests/test_optional_attr.py
Due: black, pylint

update lock file, update pydantic version and specify deps constraint for future updates
  poetry.lock
  pyproject.toml
  src/pandantic/types_pandantic.py
Due: black, check-toml, pylint

add pandas stubs
  poetry.lock
  pyproject.toml
Due: check-toml

add multiprocess to the pyproject.toml
  poetry.lock
  pyproject.toml
Due: check-toml

run isort on all files
  tests/benchmarks/small_dataset.py
  tests/test_custom_validator_context_str_list.py
Due: black, pylint

Feature; Make the use of Optional fields possible when parsing df (Optional columns) (#16)
  .pre-commit-config.yaml
  Makefile
  README.md
  poetry.lock
  pyproject.toml
  src/pandantic/__init__.py
  src/pandantic/basemodel.py
  src/pandantic/types_pandantic.py
  tests/benchmarks/models/dataframeschema.py
  tests/benchmarks/pandera_benchmark.py
  tests/benchmarks/small_dataset.py
  tests/test_basemodel.py
  tests/test_custom_validator_context_str_list.py
  tests/test_custom_validator_even_int.py
  tests/test_optional_attr.py
Due: black, check-toml, check-yaml, pylint

Update README.md
  README.md
Due: none

:pushpin: pinning dependencies
  poetry.lock
Due: none

:sparkles: initial exploration
  src/pandantic/plugins/__init__.py
  src/pandantic/plugins/pandas_plugin.py
Due: black, pylint

:pencil2: improved typing
  src/pandantic/basemodel.py
Due: black, pylint

:sparkles: pandas plugin + tests
  src/pandantic/plugins/pandas.py
  src/pandantic/plugins/pandas_plugin.py
  tests/test_pandas_plugin.py
Due: black, pylint

:memo: updating documentation
  README.md
Due: none

:memo: readme improvemt (python syntax higlighting)
  README.md
Due: none

:memo: more improved docs
  README.md
Due: none

:pencil2: fixing comment
  tests/test_pandas_plugin.py
Due: black, pylint

:pencil2: pre-commit clean up
  src/pandantic/plugins/pandas.py
  src/pandantic/types_pandantic.py
  tests/test_pandas_plugin.py
Due: black, pylint

:green_heart: removing pylint as it's rules conflict with other pre-commit hooks
  .pre-commit-config.yaml
Due: check-yaml

add types for valid schemas and dataframe types
  src/pandantic/types.py
Due: black, pylint

adjust tests to refactor work
  tests/test_basemodel.py
  tests/test_custom_validator_context_str_list.py
  tests/test_custom_validator_even_int.py
  tests/test_optional_attr.py
Due: black, pylint

update packages
  poetry.lock
Due: none

add abstract class named BaseValidator
  src/pandantic/validators/baseclass.py
Due: black, pylint

remove class method constraint
  src/pandantic/validators/baseclass.py
Due: black, pylint

add PandasValidator as part of refactor
  src/pandantic/validators/pandas.py
Due: black, pylint

Path conditions:
  black: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  check-json: any of: \.json$
  pylint: any of: \.py$
